<a href="<%= site_user_path(id: current_user.id) %>">
</a>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "view my profile", site_user_path(id: current_user.id) %>
</span>
<span>
  <%= pluralize(current_user.posts.count, "post") %>
</span>
