  <div class="center hero-unit">
    <h1>Welcome to my site</h1>

    <%= link_to "Sign up now!", site_signup_path(site_id: @site.id),
                                class: "btn btn-large btn-primary" %>
  </div>